# All directories starting with build in the repository root
/build*
/documentation
.cache
.vscode
M*/mav0/*
!M*/mav0/cam0/
M*/mav0/cam0/*
!M*/mav0/cam0/data.csv
in.csv
out.csv
output.log
resultsA
resultsB
resultsC
